version: "3.9"

services:
  db:
    image: postgres:latest 
    container_name: cr_pg_dbcr_
    environment:
      POSTGRES_USER: cr_user
      POSTGRES_PASSWORD: cr_pass
      POSTGRES_DB: cr_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  postgres_data:
  minio_data:
