# --- airflow config ---
AIRFLOW_UID=50000 # $id -u
AIRFLOW_PROJ_DIR=.

# --- clash royale api key ---
# get your key here --> https://developer.clashroyale.com/
CLASH_API_KEY=<API_KEY>

# --- automatic conn ---
# format: type://user:password@host:port/schema?extras

# minIO data lake
# docker minio url http://minio:9000
AIRFLOW_CONN_MINIO_S3_CONN=aws://admin:password@minio:9000?endpoint_url=http%3A%2F%2Fminio%3A9000

# postgres data warehouse
AIRFLOW_CONN_POSTGRES_CR_DW=postgresql://cr_user:cr_pass@db:5432/cr_db

# vip players & clans
AIRFLOW_VAR_CR_TRACKING_CONFIG='{"players": ["#2PPCJ0UUP", "#VP9GJYQ2"], "clans": ["#2L80YUL", "#QCV8JQVR"]}'